@import url('http://fonts.cdnfonts.com/css/dubiel');

body {
  margin: 0;
  background-color: black;
}

a {
  color: white;
  text-decoration: none;
  padding-left: 5%;
  font-family: 'Dubiel', sans-serif;
  font-family: 'DubielPlain', sans-serif;
}
p {
  color: rgba(255, 255, 255, 0.884);
}
h1 {
  color: rgb(255, 0, 0);
  padding-left: 3%;
  margin-top: 1%;
  font-size: 2.3em;
}
li {
  font-family: Arial, Helvetica, sans-serif;
}
